*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
header{
    background-image: url(../image/pexels-henry-&-co-1251262.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.banner-container{
    height: 100vh;
}
